sklad.xlsx
sklads.xlsx
SPECIALPAGE.CSV
bootstrap-5.0.2-examples/*
node_modules/*
fontawesome-free-6.4.2-desktop/*
vendor/*
src/*
bootstrap-5.0.2-dist/*
package.json
package-lock.json
README.md 
.htaccess
.idea/*